#!/bin/bash
SCRIPT=`python -c "import os,sys; print(os.path.realpath(os.path.expanduser(sys.argv[1])))" "${BASH_SOURCE:-$0}"`
export GO111MODULE=on
export GOPROXY=direct
export DOCKER_HOST_IP=127.0.0.1
